*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#WelcomeMessage> h1 {
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #ccc,
                 0 3px 0 #ccc,
                 0 4px 0 #ccc,
                 0 7px 4px rgba(255, 255, 255, .4);
    animation: bounce 0.5s ease infinite alternate ;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bounce {
    100%{
        transform: translateY(-40px);
    }
}
#countDown{
 
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 7px 4px rgba(255, 255, 255, .4);
    overflow: hidden;
    border-radius: 20px;
   
}
.transfrom{
    animation: smallbig 3s ease forwards;
    /* transform: translateX(20px)  scale(1.1); */
}
@keyframes smallbig {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
#speedTexting{
    
}
#score{
    position: relative;
    height: 550px;
    width: 400px;
    max-width: 600px;
    background-color: #8A0000;
    border-radius: 20px;
    overflow: hidden;
}
#score::before{
    content: '';
    /* border-radius: 20px; */
    height: 600px;
    width: 800px;
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent
    , #3b060a);
    animation: rotate 4s linear infinite;
}
#score::after{
    content: '';
    height: 600px;
    width: 800px;
    /* border-radius: 20px; */
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent
    , #3b060a);
    animation: rotate 4s linear infinite;
    animation-delay: -2s;
}
span{
    background-color: #8A0000;
position: absolute;
border-radius: 20px;
inset: 5px;
z-index: 1;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#speedTexting > div{
    height: 550px;
    background: linear-gradient(120deg,#0c1022,white, black);
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    
    box-shadow:
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 7px 4px rgba(255, 255, 255, .4);

}
#counting>p{
    animation: bouncedot 0.5s ease infinite alternate ;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bouncedot {
    100%{
        transform: translateY(-5px);
    }
}
.bar-animation{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bar{
    background: linear-gradient(180deg, #0c1022, black);
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars {
    100%{
    transform: translateY(0%);

    }
}


.welcomeOpacity{
    opacity: 0.01;
}
@media screen and (max-width:600px) {
    #WelcomeMessage> h1{
        font-size: 80px;
    }
    #countDown>h1 , #counting{
        font-size: 50px;
    }
}
@media screen and (max-width:400px) {
    #WelcomeMessage> h1{
         font-size: 50px;
    }
    @keyframes bounce {
        100%{
            transform: translateY(-20px);
        }
    }
    #countDown>h1 , #counting{
        font-size: 40px;
    }
}