*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvb;
}
#WelcomeMessage> h1 {
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #ccc,
                 0 3px 0 #ccc,
                 0 4px 0 #ccc,
                 0 7px 4px rgba(255, 255, 255, .4);
    animation: bounce 0.5s ease infinite alternate ;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bounce {
    100%{
        transform: translateY(-40px);
    }
}
#countDown{
 
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 7px 4px rgba(255, 255, 255, .4);
    overflow: hidden;
    border-radius: 20px;
   
}
.transfrom{
    animation: smallbig 3s ease forwards;
    /* transform: translateX(20px)  scale(1.1); */
}
@keyframes smallbig {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
#speedTexting{
    
}
#score{
    position: relative;
    height: 550px;
    width: 400px;
    max-width: 600px;
    background-color: #8A0000;
    border-radius: 20px;
    overflow: hidden;
}
#score::before{
    content: '';
    /* border-radius: 20px; */
    height: 600px;
    width: 800px;
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent
    , #3b060a);
    animation: rotate 4s linear infinite;
}
#score::after{
    content: '';
    height: 600px;
    width: 800px;
    /* border-radius: 20px; */
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent
    , #3b060a);
    animation: rotate 4s linear infinite;
    animation-delay: -2s;
}
span{
    background-color: #8A0000;
position: absolute;
 border-radius: 20px;
inset: 5px;
z-index: 1;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#speedTexting, #modal{
    height: inherit;
    width: inherit;
    
}

/* #QuickMessage{
    background: linear-gradient(45deg,#0c1022,#3c3d37, #000000c5);
    
} */
#speedTexting > div, #modal{
    background: linear-gradient(45deg,#0c1022,#3c3d37, #000000c5);
    height: 85%;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow:
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc, 
    0 4px 0 #ccc,
    0 7px 4px rgba(255, 255, 255, .4);

}
.backgroundcolor{
    background: linear-gradient(120deg,#0c1022,#3c3d37, #000000c5);
}

#counting>p{
    animation: bouncedot 0.5s ease infinite alternate ;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bouncedot {
    100%{
        transform: translateY(-5px);
    }
}
.bar-animation{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bar{
    background: linear-gradient(180deg, #0c1022, black);
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars {
    100%{
    transform: translateY(0%);

    }
}


.welcomeOpacity{
    opacity: 0.01;
}
#displayedText,#QuickMessage, #box{
color: #d8d8d8;

}

#wordsdisplayed{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width:95%;
    
}
textarea{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#userTyped{
    width: 90%;
    height: 20vh;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    box-shadow:
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 7px 4px rgba(255, 255, 255, .4);
}
button{
    /* color: #c5c5c5; */
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 20px;
    box-shadow: 0 0 1px white inset;
}
#boxcontainer{
    scrollbar-color:      #4f5553 #2e2e302d;
    overflow-y: auto;
    /* opacity: 0.001; */
}   

#box>div:nth-child(1){
    opacity: 1;
}
#box>div:nth-child(2){
    opacity: 1;
}
#box>div:nth-child(3){
    opacity: 1;
}
#box>div:nth-child(4){
    opacity: 1;
}
#box>div:nth-child(5){
    opacity: 1;
}
#box>div:nth-child(6){
    opacity: 1;
}
#box>div:nth-child(7){
    opacity: 1;
}
#box>div:nth-child(8){
    opacity: 1;
}
#box>div:nth-child(9){
    opacity: 1;
}
#box>div:nth-child(10){
    opacity: 1;
}
#box>div{
    opacity: 0.001;
}
/* #box>div:nth-child(1){
    opacity: 0.01;
} */

@media screen and (max-width:700px) {
    #WelcomeMessage> h1{
        font-size: 80px;
    }
    #countDown>h1 , #counting,#maindashbox {
        font-size: 50px;
        display: none;
    }
    #smallScreen{
        display: flex;

    }
    #WelcomeMessage{
        display: none;
    }

}
@media screen and (max-width:400px) {
    #WelcomeMessage> h1{
         font-size: 58px;
    }
    @keyframes bounce {
        100%{
            transform: translateY(-25px);
        }
    }
    #countDown>h1 , #counting{
        font-size: 40px;
    }
    #speedTexting > div, #modal{
        width: 100%;
        height: 100%;
    }
    #restartButton{
      align-items: start;
    }
    #displayedText >div {
        font-size: 17px;
    }
    #highCurrent{
        flex-direction: column;
     }
     #highCurrent >div{
        flex: 0.2;
     }
}
